body {
  margin: 0;
  padding: 0;
  background-color: #111111;
}

.main-container {
  background-color: #111111;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  position: relative;
}

.header-container {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  margin-top: 0;
}

.logo-img {
  height: 30px;
  margin: 10px 45px 10px 50px;
}

.header-logo-container {
  width: 25%;
  height: 50px;
  display: flex;
}

.header-list-container {
  width: 70%;
  height: 50px;
  text-align: end;
  padding: 0px 500px 0px 0px;
}
.header-list-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.section-banner {
  width: 100%;
  height: 550px;
  background-image: url("breakingbad-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-banner-info {
  width: 30%;
  height: 500px;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.banner-logo-container {
  width: 100%;
  height: 100px;
}
.banner-logo-container img {
  width: 60%;
}

.banner-general-info {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}
.banner-general-info .coincidence {
  color: #013d01;
}
.banner-general-info .clasification {
  border: 1px solid white;
  width: 40px;
  text-align: center;
}

.banner-description {
  width: 120%;
  height: 60px;
  margin-top: 190px;
  position: absolute;
}

.section-banner-buttons {
  width: 90%;
  height: 40px;
  margin-top: 270px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-banner-buttons .banner-button {
  width: 120px;
  height: 30px;
  background-color: rgba(53, 52, 52, 0.6);
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: 30px;
}
.section-banner-buttons .banner-button:hover {
  background-color: red;
}
.section-banner-buttons .rate-buttons-container {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.section-banner-buttons .rate-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(53, 52, 52, 0.6);
  border: 1px solid white;
  line-height: 30px;
  text-align: center;
}
.section-banner-buttons .icon {
  height: 30px;
  width: 30px;
}

.banner-extra-info {
  width: 120%;
  height: 30px;
  margin-top: 310px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-extra-info i {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 30px;
  text-align: center;
  position: absolute;
}
.banner-extra-info .banner-extra-info-text {
  height: 30px;
  font-size: 12px;
  text-align: top;
  margin-left: 40px;
  margin-top: -10px;
  position: absolute;
}

.banner-details {
  width: 100%;
  height: 90px;
  margin-top: 360px;
  position: absolute;
  font-size: 12px;
  line-height: 4px;
  vertical-align: top;
}

.banner-content-selector {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.banner-content-selector .content-sections-row {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-container {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.list-title-container {
  width: 100%;
  height: 40px;
  margin-left: 50px;
  margin-top: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.list-images-container {
  width: 120%;
  height: 140px;
  margin-left: 50px;
  display: flex;
}
.list-images-container img {
  height: 100px;
  width: 200px;
  margin-left: 4px;
}

/*# sourceMappingURL=style-seleccion.css.map */
